@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&family=Open+Sans:wght@500&family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&family=Open+Sans:wght@500&family=Roboto:wght@300&display=swap");

:root {
  /* Grid items color */
  --sedans-bg: hsl(31, 77%, 52%);
  --suvs-bg: hsl(184, 100%, 22%);
  --luxury-bg: hsl(179, 100%, 13%);

  /* Paragraphs */
  --par-color: hsla(0, 0%, 100%, 0.75);

  /* font-family */
  --lexendDeca: "Lexend Deca", sans-serif;
  --bigShoulder: "Big Shoulders Display", sans-serif;

  /* Background headings and buttons */
  --lightGray: hsl(0, 0%, 95%);
}

* {
  box-sizing: border-box;
  font-family: var(--lexendDeca);
}

body {
  margin: 0;
}

h1 {
  font-family: var(--bigShoulder);
  font-size: 2.5rem;
  color: var(--lightGray);
}

p {
  line-height: 1.6;
  color: var(--lightGray);
}

#hero-section {
  display: grid;
  place-items: center;
  height: calc(100vh - (5.625rem * 2rem));
}

.grid-container {
  margin: 5.625rem 0;
  display: grid;
}

.wrapper {
  padding: 3.75rem 2.19rem;
  width: 315px;
}

.wrapper button {
  padding: 0.94rem 2.5rem;
  border: 2px solid var(--lightGray);
  border-radius: 25px;
  cursor: pointer;
  background-color: var(--lightGray);
  transition: background-color 250ms ease-in;
  margin-top: 1.25rem;
}

.wrapper button:hover {
  background-color: rgba(255, 255, 255, 0);
}

#sedans {
  background-color: var(--sedans-bg);
  border-radius: 10px 10px 0px 0px;
}

#suvs {
  background-color: var(--suvs-bg);
}

#luxury {
  background-color: var(--luxury-bg);
  border-radius: 0px 0px 10px 10px;
}

#sedans button {
  color: var(--sedans-bg);
}

#suvs button {
  color: var(--suvs-bg);
}

#luxury button {
  color: var(--luxury-bg);
}

#sedans button:hover,
#suvs button:hover,
#luxury button:hover {
  color: var(--lightGray);
}

@media (min-width: 945px) {
  #hero-section {
    display: grid;
    place-items: center;
    height: 100vh;
  }

  .grid-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .wrapper {
    padding: 3.75rem 2.8rem;
  }

  #sedans {
    border-radius: 10px 0px 0px 10px;
  }

  #luxury {
    border-radius: 0px 10px 10px 0px;
  }
}